*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/core-data/build
/core-domain/build
/core-ml/build
/core-ui/build
/feature-audio/build
/feature-image/build
/feature-video/build
/benchmark/build
/app/src/main/res
